.header-nav
	float right
	margin-right 20px
	padding-top 20px

.header-nav--item
		display inline-block
		margin-left 20px
		color rgba(0,0,0,0.7)
		font-family header-font
	:hover
		color rgba(0,0,0,1)

@media (max-width 640px)
	.header-nav
		float none
		text-align center
		padding-top 80px