header
	height normal-section-height
	background url(../img/header.jpg)
	background-size cover
	background-position center center
	.logo
		float left
#about
	padding 40px
	height normal-section-height
		
#background
	height normal-section-height
	background url(../img/background.jpg)
	background-size cover
	background-position center center

#work
	margin 0
	height normal-section-height
	padding 40px
footer
	height 80px
	background url(../img/footer.jpg)
	background-size cover
	background-position center 110px
	padding-top 30px
	
@media (max-width 640px)
	header
		height mobile-section-height
	
	footer
		height 200px
		background-position center center
		color #000